<%- include("partials/header") %>
<div class="area">
  <h1 id="title_post"><%= post.title %></h1>
  <div class="post-area">
    <p><%= post.content %></p>
    <a href="/">Back to Home</a>
  </div>
</div>

<%- include("partials/footer") %>
